$mainfontfamily: 'Ubuntu', sans-serif;
$secondFontFamily: 'Roboto', sans-serif;
$mainfontfamilyitalic: 'Ubuntu', italic;
$mainColor: #ffffff;
$secondaryColor: #222;
$textColor: #626262;
$progressBarColor: #17a697;
$buttonColor: #17a697;
$logoPink: #ef64a6;
$logoBlue: #58d5D4;