.skills {
    padding: 100px 0;
    background-image: url('../img/mt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    @include overlay(#bbb, 0.1);

    .tri {
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
        z-index: 3;
    }


    .containernew {
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        padding: 0;



        .left-box {
            width: 50%;
            padding: 0 15px;

            @media(max-width: 800px) {
                width: 100%;
                margin: 20px;
            }



            h3 {
                margin: 0 0 20px 0;
                font-size: 22px;
                font-weight: 600;
                text-transform: uppercase;

            }

            .desc {
                line-height: 1.6;
                color: $textColor;
                margin: 0 0 20px 0;
            }

            .author {
                font-size: 14px;
                font-weight: 600;
                margin: 0;
                text-transform: uppercase;
            }
        }

        .right-box {
            width: 50%;
            padding: 0 15px;

            @media(max-width: 800px) {
                width: 100%;
                margin: 20px;
            }


            .progressbar {
                margin: 0 0 20px 0;

                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 0 8px 0;

                    .name {
                        font-weight: 600;
                        font-size: 14px;
                    }

                    .percent {
                        font-size: 14px;
                    }
                }

                .bar {
                    height: 4px;
                    background-color: $textColor;

                    .progress {
                        height: 4px;
                        background-color: $progressBarColor;
                    }
                }
            }
        }

    }

}