.video-wrapper {
    background-image: url(/assets/img/video-cover-1m.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 660px;
}